@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* 
colors :

#0D1321 azul quase preto
#1D2D44 azul marinho
#3E5C76 azul medio
#F0EBD8 branco
#748CAB azul claro

 */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
img {
    padding: 10px;
}
div {
    text-align: justify;
}
div > div {

    display: flex;
    flex-direction: row;
    align-items: center;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0D1321;
    background-color: #F0EBD8;
    padding: 30px 30px 0 30px;
}
ul {
    list-style-type: none;
    padding: 25px;
    margin-bottom: 40px;
}
.index a {
   font-size: 20px;
   color: #0D1321;
   display: block;
   padding: 5px 10px;
   text-decoration: none;
}
.index ul li {
    list-style: none;
    border-bottom: 1px solid #0D1321;
}
.index ul li:hover {
    transition: 0.5s;
    background-color: #0D1321;

}
.index ul a:hover {
    color: #F0EBD8;
}
h1 {
    text-align: left;
    line-height: 65px;
    margin-bottom: 25px;
    font-size: 70px;
    color: #0D1321;
}

h2 {
    color: #0D1321;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
}

main p {
    font-size: 16px;
    padding-bottom: 15px;
}
em, a{
    color: grey;
}

main {
    max-width: 100vw;
}
main > section {
    border-left: 1px solid #0D1321;
    border-right: 1px solid #0D1321;
    max-width: 65vw;
    padding: 5% 3%;
}
article {
    color: #0D1321;
    padding: 20px;
    text-align: justify;
    margin: 60px 0;
}
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer p {
    font-size: 14px;
}
.content {
    max-width: 900px;
}
@media screen and (max-width: 1000px) {
    main {
        max-width: 100vw;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 50px;
        line-height: 48px;
    }

    h2 {
        font-size: 25px;
        line-height: 25px;
    }
    main > section{
        width: 100vw;
    }
    
}

@media screen and (max-width: 500px) {
    body {
        padding: 15px;
    }
    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}