@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* 
colors :

#0D1321 azul quase preto
#1D2D44 azul marinho
#3E5C76 azul medio
#F0EBD8 branco
#748CAB azul claro

 */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
img {
    padding: 10px;
}
h1 {
    color: #0D1321;
}
div {
    text-align: justify;
}
#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  15px 30px;
}
#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
}
#searchResults {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #F0EBD8;

}

#searchInput {
    background-color: #0D1321;

    color: #F0EBD8;
    font-size: 18px;
    border:none;
    padding: 7px 10px;
    border-radius: 5px;
}
#searchInput:focus {
    outline: none;


}
button {
    border-radius: 5px;
    margin-left: 15px;
    color: #F0EBD8;
    background-color: #0D1321;
    border: none;
    padding: 5px 10px;
    
    font-size: 16px;
}
body {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0D1321;
    background-color: #F0EBD8;

}
#dashb {
    background-color: #0D1321;
    display: flex;
    
    padding: 70px 0 50px 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#dashb h1 {
    font-size: 95px;
    color: #F0EBD8;
}
#dashb div {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;

}
#dashb label {
    margin-left: 10px;
    font-size: 30px;
    color: #F0EBD8;
    font-weight: 900;
}
.index ul {

    align-self: stretch;
    list-style-type: none;
    padding: 25px 0;
    margin-bottom: 40px;
}
.index a {
   font-size: 20px;
   color: #F0EBD8;
   display: block;
   padding: 5px 10px;
   text-decoration: none;
}
.index ul li{

    border-radius: 5px;
    background-color: #0D1321;
    list-style: none;
    border-bottom: 1px solid #0D1321;
}
.index ul li:hover, button:hover {
    transition: 0.5s;
    border: none;
    color: #F0EBD8;
    background-color: #0d13219a;
    cursor: pointer;
}
.index ul a:hover {
    color: #F0EBD8;
}
#searchResults a {
    text-decoration: none;
    color: #0D1321;
    width: 100%;
    padding: 5px 7px;
    border-bottom: 1.5px solid #0D1321;
}
#searchResults a:hover {
    transition: 0.5s;
    color: #F0EBD8;
   background-color: #0D1321;
    
}
h1 {
    text-align: left;
    line-height: 65px;
    margin-bottom: 25px;
    font-size: 70px;
    color: #0D1321;
}
.index ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

h2 {
    color: #0D1321;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
}
.body-content {
    max-width: 90vw;
}
#autor {
    display: block;
    font-weight: 700;
}
ul {
        list-style: none;
    }
main p {
    font-size: 16px;
    padding-bottom: 15px;
}
em, a{
    color: grey;
}

main { 
    max-width: 70vw;
    display: flex;
    flex-direction: column;
}
#disclaimer, .index {
   padding:  80px 0;
  
}
/* #disclaimer {
   border-bottom:1px solid #0D1321;
} */

article {
    color: #0D1321;
  
    text-align: justify;
    padding: 20px 0;
}
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.content h1 {
    margin-bottom: 15px;
}
.content #autor {
    margin-bottom: 30px;
}
footer p {
    font-size: 14px;
}
.content {
    max-width: 60vw;
    margin: 40px 0;

}
@media screen and (max-width: 1000px) {
    main {
        max-width: 100vw;
    }
   .content {
        max-width: 90vw;
        
    }
    #disclaimer, .index {
        padding: 60px 20px ;
    }
    #disclaimer {
        margin-top: 80px;
    }
}

@media screen and (max-width: 800px) {
    
    h2 {
        font-size: 20px;
        line-height: 20px;
    }
    main > section{
        border: none;
        max-width: 100vw;

    }
    .index ul{

        grid-template-columns: 1fr;
    }
   
    #dashb {
        flex-direction: column-reverse;
        justify-content: center;
       align-items: center;
       padding: 20px 0;

    }
    #dashb h1 {
        font-size: 75px;
    }
    
    #dashb div {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        margin:  30px 0;
    }
    #dashb label {
        font-size: 25px;
    }
    body {
        overflow-x: hidden;
    }
    #search {
        flex-direction: column;
        align-items: end;

    }
    button {
        margin-top: 15px;
    }
}
@media screen and (max-width: 500px) {

    #dashb label {
        font-size: 20px;
        
    }
    
    main > section {
        padding:  70px 10px;
     }
    
    article {
        margin: 0;
    }
    
    p img {
        display: block;
        
    }
    h1 {
        font-size: 60px;
        line-height: 48px;
        margin-bottom: 0;
    }
    
    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
    
    #searchContainer {
        max-width: 80vw;
    }
    
   
}